<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PingBack</title>
</head>
<body>
   <div class="ping">
   <h1>ReSolve</h1>
   <input type="text" name="host" required /><button>Ping</button>
   </div>
</body>
</html>
